<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Making this website using Flask and Heroku</title>
    <meta name="author" content="Dries De Decker">
    
<meta name="description" content="Blog post with tips on hosting a dynamic website with flask and heroku.">
<meta name="keywords" content="Tutorial, guide, python, flask, heroku, hosting, dynamic, webdev, web development">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&family=Roboto:wght@400;700&family=Space+Mono&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../static/tailwind/style.css">
    <style>
      ::-moz-selection, ::selection {
        color: white;
        background: blue;
      }
    </style>
</head>

<body class="bg-gray-900 dark:bg-black">
    <div class="overviews overflow-hidden grid grid-cols-5 md:grid-cols-10 sm:gap-4 min-h-16 sm:my-4">
        <a href="/home"
            class="col-span-2 break-words whitespace-nowrap text-2xl text-center font-display font-bold p-2 text-red-400 bg-red-800 hover:bg-red-600  focus:bg-red-100">
            dries.page
        </a>

        <div class="current overview invisible bg-gray-400">
            Blank
        </div>

        <div class="current overview invisible ">
        </div>

        <div class="current overview invisible">
            
        </div>

        <div class=" invisible current overview bg-gray-400">
            /games
        </div>

        <a href="/DIY"
        class="current overview break-words whitespace-nowrap text-2xl text-center font-display font-bold p-2 text-green-400 bg-green-800 hover:bg-green-600 focus:bg-green-100">
            /DIY
        </a>

        <a href="/art" 
          class="current overview break-words whitespace-nowrap text-2xl text-center font-display font-bold p-2 text-pink-300 bg-pink-800 hover:bg-pink-600  focus:bg-pink-100">
            /art
        </a>

        <a href="/dev" 
        class="current overview break-words whitespace-nowrap text-2xl text-center font-display font-bold p-2 text-blue-400 bg-blue-800 hover:bg-blue-600 focus:bg-blue-100">
            /dev
        </a>

        <a href="/who" 
        class="next overview break-words whitespace-nowrap text-2xl text-center font-display font-bold p-2 text-red-400 bg-red-800 hover:bg-red-600 focus:bg-red-100">
            /?
        </a>
    </div>

    <div class="articles grid grid-cols-10 sm:grid-cols-8 sm:gap-4 h-full">

        <a href="spacesnake" 
            class="prev article z-10 overflow-hidden bg-blue-900 hover:bg-blue-700 focus:bg-blue-600">
            <span class="block text-blue-600 focus:text-blue-500 text-12xl overflow-clip sm:align-middle text-right -mr-10">◄</span>
            <div class="invisible md:visible bg-blue-200 hover:bg-blue-100 focus:bg-blue-50 -my-16 md:-my-24"><h3
                class="text-blue-800 font-display break-words md:break-normal font-medium text-2xl sm:my-6 lg: my-10 px-2 align-middle rotate-90 transform sm:rotate-0">
                Space Snake: Unleashed</h3></div>
        </a>

        <div class="current article z-20 bg-blue-50 dark:bg-gray-800 text-blue-800 dark:text-gray-200 col-span-8 sm:col-span-6 p-4 min-h-screen h-full text-lg py-16 md:p-24 lg:px-48">
            <h1 class="font-display font-semibold text-4xl sm:py-6 lg: py-10">Making this website using Flask and Heroku</h1>
            <span class="block text-right -mt-8">Dec 8, 2020</span></br>
            <article class="text-blue-800 dark:text-gray-200">
            


<p>I want to explain how I made this website. As a starting web developer, I can’t write from years of experience but I
    have the advantage of knowing where other starters may struggle. It also seemed like a fitting first article to
    write here, since it’s about the website you’re looking at right now.</p>
    <img src="../../static/img/websitescreen.png"
    alt="Picture of my screen while I'm working on this website, because screenshots are too plain.">
<h2 id="the-challenge">The challenge</h2>
<p>The easiest way to make your own website would probably be to use a template from SquareSpace or WordPress or
    something similar. For most people this might be the best option. But I’m assuming you are not most people, you
    are an aspiring web developer. You’re a nerd about staying in control of all the layout and scripts on your site, so
    you want to code it yourself.</p>
<p>Now, the easiest way to make your own website would go something like this:</p>
<ul>
    <li>Start from a HTML boilerplate to give some structure to your HTML document.</li>
    <li>Keep CSS styling minimal and generic, by using a classless CSS microframework like water.css or sakura. You can
        download the framework to customize it if needed.</li>
    <li>Put the code on Github or Gitlab.</li>
    <li>Once the site works locally, use Github Pages, Gitlab pages, Meli or Netlify to host it.</li>
</ul>
<p>Nice! You made a static site. The reason I did not go this route was because I have some more requirements:</p>
<ul>
    <li>I don’t want to have to copy the code that’s the same on every page. In other words: I need a content management
        system that automatically updates all pages if I want to change the header or other generic elements on my site.
    </li>
    <li>I don’t want a static site. I want the site to run on a server, so I can play around with the fun stuff like web
        sockets, databases, and running secure server-side code. Most of that is not relevant right now but the
        groundwork needs to be there.</li>
    <li>I want to host the site on my own domain (www.dries.page).</li>
    <li>I want to customize the style of the site.</li>
</ul>
<p>Alright, now this is more of a challenge.</p>
<h2 id="flask">Flask</h2>
<p>To satisfy our first two requirements of having a site that reuses code and is dynamic, we will need a framework.
    Laravel, Symfony, Ruby on Rails, Spring Boot, Django… The best web framework depends on the programming language you
    like and the complexity of your site. Most frameworks use a Model View Controller (MVC) structure, and are modular
    enough that differences will only matter if your project gets large or very specific.</p>
<p>Most frameworks also come with a bunch of premade folders and files which seem over-engineered for simple websites.
    They’re not that complex once you are used to them, but since I wanted to use the minimal needed complexity, I chose
    a Python ‘microframework’ called Flask. It allows me to get a site going with one small python file, and add all the
    HTML elements in a folder called ‘templates’.</p>
<p>The folder structure could look something like this:</p>
<pre>├── build.py
└── templates
    ├── articles
    │   ├── article1.html
    │   └── home.html
    └── layout.html</pre>
<p>Layout.html is the layout of any page on your site, with the article inserted in between block markers:
    <code>{% block content %}{% endblock %}</code>.</p>
<p>The pages then each need to ‘extend’ the layout using <code>{% extends 'layout.html' %}</code> and wrap all the
    contents in a <code>{% block content %} content {% endblock %}</code>.</p>
<p>The code of build.py would look something like this:</p>
<pre>#Import flask and the functions to redirect and render pages
from flask import Flask, redirect, render_template
    
#name of our app
app = Flask(__name__)
    
#an empty route (mysite.com) returns mysite.com/home. This is optional. 
#You could also do it the other way around.
@app.route('/')
def home():
    return redirect('/home')
    
#what to serve for a given page.
@app.route('/<page>')
def article(page):
    return render_template('/articles/'+page+'.html')
    
app.run(debug=True)
</pre>
<p>By default, Flask runs on localhost port 5000 so you can easily test your site as you build it.</p>
<p>That's it, we now have an extremely basic content management system that runs on a local server.</p>
<p>The next step is to add a CSS framework. I'm using Tailwind, since I love how customizable it is without having to
    write additional CSS classes. For this project it was the best choice out of the frameworks I know, because it
    aligns with our goal of staying in control and keeping the final result simple (after purging). Ultimately, which
    framework you use is a matter of personal preference that hardly affects your workflow of making a dynamic site.
    However, it's hard to switch later on, so choose wisely.</p>
<p>Next, we need to buy a domain. I have good experiences with namecheap.com. Their domains seemed a little cheaper
    overall, they have good documentation, reputable service and a clear interface for DNS configuration and such. While
    an email address is included it is redirected to your personal email address, unless you pay extra. However, it is
    easy and free to setup your site with a good SSL/TLS certificate from Let's Encrypt. This will come in handy later
    on.</p>
<h2 id="the-server">The server</h2>
<p>Now, we only have to host our site on our own domain. This took longer than I anticipated. It's not something I
    really learned during my training so I ran into a few hurdles.</p>
<p>The first hurdle was hosting the site on a remote server, not via our own domain yet. Of all the options out there,
    in the end, only Heroku seems to offer a perpetually free server with all the required tools. I also had a decent
    experience with a provider called CloudSigma, but couldn't get everything up and running within my free trial period
    and I wasn't willing to pay because I was unsure if I would run into other unforeseen issues with them. However, in
    the end, Heroku has everything I needed.</p>
<p>First of all, if you like Flask but your site doesn't really need a server or much of a back-end, you can take a big
    shortcut here using a module called Frozen-Flask. It will turn your flask site into a static site so you don't have
    to worry about Heroku and dyno's and environments and credit cards at all. For everyone else, make sure to oil your
    search engines.</p>
<p>Something I didn't quite appreciate was that the server is in fact another machine than my own. Of course I knew
    this, but the implications are that it has its own operating system, its own hardware resources, its own
    applications, and all of this needs to be setup correctly. Heroku offers a dyno that runs the server process, a CLI
    which allows you to control and troubleshoot your site builds from your own terminal, integration with Github, a not
    too complicated process of creating the environment on which the app runs via a buildpack, and a big community. The
    documentation is sometimes a bit too brief but the options are very extensive. If you want to add a database from
    scratch, it might be worth picking up PostgreSQL since it can be added as a resource in Heroku. This makes it easier
    to have persistent data and manipulate your database remotely.</p>
<p>Something else I needed to do was to use another command than the built-in app.run to serve my flask application,
    since it's not really made for production environments. I used a Flask module called 'waitress'. The end of my
    build.py script now looks like this:</p>
<pre>if __name__ == "__main__":
    app.debug = False
    port = int(os.environ.get('PORT', 33507))
    waitress.serve(app, port=port)
</pre>
<p>To make sure the site can still be served on localhost, you can keep the old build file or add an if/else statement so python knows if it's running on the server or not. This can be achieved via environment variables. You could do <code>'heroku config:set ON_HEROKU=1'</code> in the terminal to add an environment variable to your app, and then add <code>if 'ON_HEROKU' in os.environ:</code> before running your serving code. Don't forget to <code>import os</code> at the start of build.py.
</p>
<p>Now for a little list that I wish someone had told me. To make sure that Flask and all its modules work on the
    server, I needed to add these files in my root directory:</p>
<ul>
    <li>A procfile with a build command. I used <code>web: gunicorn build:app</code>. A procfile is just a file without an extension,
        called PROCFILE, which contains commands that Heroku will run automatically when the app is uploaded.</li>
    <li>run.gunicorn.sh, which is the bash command referenced in the procfile. The contents in my case are
        <code>gunicorn -b :5000 --access-logfile - --error-logfile - build:app</code> where <code>build</code> is the name of my build file (build.py) and <code>app</code> is the name of my app, in the file.</li>
    <li>runtime.txt, which specifies which python version to run. For example, in my case the contents of the file are simply <code>python-3.8.5</code>. This file is not strictly required but it's useful to avoid issues related to having a
        different python version locally and on the server.</li>
    <li>requirements.txt. This is a file which you may see in any python project, it lists the requiremed modules and
        their version. For our project, the dependencies are:
        <pre>Flask==0.11.0
Jinja2==2.7
Werkzeug==0.9.1
waitress==1.4.4
gunicorn==19.6.0</pre>
    </li>
</ul>
<p>In case you are wondering, Werkzeug is a library that Flask uses, while Jinja2 is the templating language.</p>
<p>Our project structure now looks like this:</p>
<pre>├── build.py
├── buildlocal.py (optional)
├── PROCFILE
├── run.gunicorn.sh
├── runtime.txt (optional)
├── requirements.txt
├── templates
│   ├── articles
│   │   ├── article1.html
│   │   └── home.html
│   └── layout.html
└── static</pre>
<p>The static folder contains all CSS, javascript, images and other static resources.</p>
<p>With the site hosted as a Heroku app, I still had to connect it to my personal domain. This requires verifying your
    Heroku account with a visa- or mastercard, but it's free. Then, I had some security issues - adding a security
    certificate to Heroku is not free, and my own domain didn't trust the Heroku site so the user was greeted with a
    notification that the site is untrusted. Fortunately, I found out how to set it up right in the Advanced DNS
    settings:</p>
<img src="../../static/img/DNS.png"
    alt="Screenshot of the DNS configuration showing a redirect URL to dries.herokuapp.com">
<p>Makes sense if you see it like that, but in my mind a redirect from my domain to the heroku domain would make the
    user see heroku in the address bar. Not the case! We have added our personal domain in Heroku, and so Heroku will
    serve to our domain, using the security certificate from our own domain. No extra certificate on Heroku needed.</p>
<p>That was the final piece of the puzzle. As you can see, the website is still very basic but I reached my initial
    goals. If you read this far, thank you! I hope this article can be useful to my fellow junior devs.</p>
<p>Dries out!</p>


            </article>
        </div>

        <a href="who"
            class="next article z-10 overflow-hidden bg-red-900 hover:bg-red-700 focus:bg-red-600">
            <span class="text-red-600 focus:text-red-500 text-12xl overflow-clip sm:align-middle -ml-10">►</span>
            <div class="invisible md:visible bg-red-200 hover:bg-red-100 focus:bg-red-50 -my-16 md:-my-24"><h3
                class="text-red-800 font-display break-words md:break-normal font-medium text-2xl sm:my-6 lg: my-10 px-2 align-middle rotate-90 transform sm:rotate-0">
                Who?</h3></div>
        </a>


    </div>

</body>

</html>